.todo {
    display: flex;
    font-size: 1rem;
    border-top: 1px solid rgba(0,0,0,.1);
    background-color: #fff;
    transition: all .2s;
    user-select: none;
    padding: 1em;
    align-items: center;
}

.todo.completed * {
    color: lightgray;
}

.todo.completed .todo-title {
    text-decoration: line-through;
}

.todo .todo-title {
    margin-right: auto;
}

.todo .checkbox {
    margin-right: .5rem;
}

.todo button:not(.checkbox) {
    opacity: 0;
    transition: all .2s;
}

.todo:hover button:not(.checkbox) {
    opacity: 1;
}

.todo-edit-form {
    display: flex;
    font-size: 1rem;
    padding: .85em;
    border-top: 1px solid rgba(0,0,0,.1);
}

.todo-edit-form input {
    flex: 1;
}

.todo-edit-form .save {
    margin-left: .5em;
}

.full-todo {
    background-color: #fff;
    color: black;
    padding: 17px;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.full-todo-btn,
.todo-title-full,
.todo-description,
.todo-importance,
.members,
.todo-date,
.editing-string {
    font-size: 1.5rem;
    background-color: #fff;
    transition: all .2s;
    user-select: none;
    padding: 15px;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,.1);
    word-wrap: break-word;
}

.todo-description{
    width: 600px;
    height: auto;
}

.todo-edit-form {
    font-size: 1rem;
    border-top: 1px solid rgba(0,0,0,.1);
    background-color: #fff;
    transition: all .2s;
    -webkit-user-select: none;
    user-select: none;
    padding: 1em;
    align-items: center;
}

.todo-edit-full-form {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    padding: .85em;
    background-color: #fff;
    color: black;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

textarea {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #757575;
    padding: .5em;
    border-radius: 2px;
    border: 1px solid lightgray;
    outline: none;
}

textarea:focus {
    border: 1px solid #00d8ff;
}