.todo {
    display: flex;
    font-size: 1rem;
    border-top: 1px solid rgba(0,0,0,.1);
    background-color: #fff;
    transition: all .2s;
    -webkit-user-select: none;
    user-select: none;
    padding: 1em;
    align-items: center;
}

.todo.completed * {
    color: lightgray;
}

.todo.completed .todo-title {
    text-decoration: line-through;
}

.todo .todo-title {
    margin-right: auto;
}

.todo .checkbox {
    margin-right: .5rem;
}

.todo button:not(.checkbox) {
    opacity: 0;
    transition: all .2s;
}

.todo:hover button:not(.checkbox) {
    opacity: 1;
}

.todo-edit-form {
    display: flex;
    font-size: 1rem;
    padding: .85em;
    border-top: 1px solid rgba(0,0,0,.1);
}

.todo-edit-form input {
    flex: 1;
}

.todo-edit-form .save {
    margin-left: .5em;
}

.full-todo {
    border-left: 1px solid rgba(0,0,0,.25);
    border-bottom: 1px solid rgba(0,0,0,.25);
    border-right: 1px solid rgba(0,0,0,.25);
}

.todo-description,
.todo-importance,
.members,
.todo-date {
    font-size: 1rem;
    background-color: #fff;
    transition: all .2s;
    -webkit-user-select: none;
    user-select: none;
    padding: 1em;
    align-items: center;
}

.todo-edit-form {
    font-size: 1rem;
    border-top: 1px solid rgba(0,0,0,.1);
    background-color: #fff;
    transition: all .2s;
    -webkit-user-select: none;
    user-select: none;
    padding: 1em;
    align-items: center;
}

.todo-edit-full-form {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    padding: .85em;
}