header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    color: white;
    background-color: #f0db4f;
    text-align: center;
    text-transform: uppercase;
}

.App-header {
    height: 75px;
    padding: 20px;
    color: white;
}
